@model TP6.Models.Libro

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paginas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paginas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edicion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edicion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdLibro">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
